<a href="https://colab.research.google.com/github/TeradaZenichi/dnotools/blob/master/Fluxo_de_carga_radial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fluxo de Carga Radial**

**Nome:** Lucas Zenichi Terada

**Institution:** University of Campinas

In [1]:
from collections import Counter
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json

## An치lise Topol칩gica

In [2]:
def verify(df, bar, aux_bus, aux_net, aux_swt, level, radial, line_type):
  current_bar = 0
  if df.start == bar and df.level == -1:
    current_bar = df.end
  if df.end == bar and df.level == -1:
    current_bar = df.start 
  if current_bar > 0:
    if line_type == 'line':
      net.loc[df.num-1, 'level'] = level
      aux_net.append(int(df.num))
    if line_type == 'switch':
      swt.loc[df.num-1, 'level'] = level
      aux_swt.append(int(df.num))
    if bus.loc[current_bar-1, 'level'] == -1:
      bus.loc[current_bar-1, 'level'] = level
      aux_bus.append(int(current_bar))
    else:
      radial = False
  return aux_bus, aux_net, aux_swt, radial

In [3]:
def radiality():
  (level, buslv, netlv, swtlv) = (0, [], [], [])
  aux = []
  (bus['level'], net['level'], swt['level']) = (np.ones(len(bus), dtype=int)*(-1),
  np.ones(len(net), dtype=int)*(-1), np.ones(len(swt), dtype=int)*(-1))
  radial = True
  for ob in bus.itertuples():
    if ob.bustype == 'feeder':
      bus.loc[ob.Index, 'level'] = 0
      aux.append(int(ob.num)) 
  buslv.append(aux)
  netlv.append([])
  swtlv.append([])
  level = 1
  while radial is True:
    aux_bus = []
    aux_net = []
    aux_swt = []
    for bar in buslv[level-1]:
      for ol in net.itertuples():
        (aux_bus, aux_net, aux_swt, radial) =  verify(net.loc[ol.num-1], bar, aux_bus, aux_net, aux_swt, level, radial, 'line')
      for sw in swt.itertuples():
        if sw.pos == 1:
          (aux_bus, aux_net, aux_swt, radial) = verify(swt.loc[sw.Index], bar, aux_bus, aux_net, aux_swt, level, radial, 'switch')
    if len(aux_bus) > 0:
      buslv.append(aux_bus)
      netlv.append(aux_net)
      swtlv.append(aux_swt)
      level +=1
    else:
      break
  return radial, level, buslv, netlv, swtlv

In [4]:
# Carregar os arquivos dataframe para an치lise topol칩gica
global bus, net, swt, par
bus = pd.read_csv('bus.csv')
net = pd.read_csv('networks.csv')
swt = pd.read_csv('switches.csv')
par = json.load(open('param.json','r'))

In [5]:
net.r = net.r/1000
net.x = net.x/1000
swt.r = swt.r/1000
swt.x = swt.x/1000

## Fluxo de carga - backward forward sweep

In [6]:
def error_calc(v, Ibus):
  error = 0
  for bar in bus.itertuples():
    if bar.bustype == 'load' and bar.level > 0:
      aux = np.abs(bar.pd+1j*bar.qd - v[bar.num-1]*np.conj(Ibus[bar.num-1]))
      error = np.maximum(aux, error)
  return error

In [7]:
def identify(df, lv):
  if bus.level[int(df.start)-1] == int(lv):
    mul = -1
    return int(df.start), mul
  elif bus.level[int(df.end)-1] == int(lv):
    mul = 1
    return int(df.end), mul
  else:
    return 0

In [8]:
def nodalcurrent(Ibus, df, lv):
  if bus.level[int(df.start)-1] == lv:
    return -Ibus[int(df.start)-1]
  elif bus.level[int(df.end)-1] == lv:
    return Ibus[int(df.end)-1]

In [9]:
def current(bar, Ikm, df, nplus):
  Inear = 0
  if bar == df.start:
    Inear = Ikm[nplus-1]
  elif bar == df.end:
    Inear = -Ikm[nplus-1]
  return Inear

In [10]:
def currente_calc(lv, v, Ibus, Inet, Iswt, buslv, netlv, swtlv, level):
  for n in netlv[lv]:
    Inet[n-1] = nodalcurrent(Ibus, net.loc[n-1], lv)
  for s in swtlv[lv]:
    Iswt[s-1] = nodalcurrent(Ibus, swt.loc[s-1], lv)
  if lv+1 < level:
    for n in netlv[lv]:
      (bar, mul) = identify(net.loc[n-1], lv)
      for nplus in netlv[lv+1]:
          Inet[n-1] = Inet[n-1] + mul*current(bar, Inet, net.loc[nplus-1], nplus)
      for splus in swtlv[lv+1]:
          Inet[n-1] = Inet[n-1] + mul*current(bar, Iswt, swt.loc[splus-1], splus)
    for s in swtlv[lv]:
      (bar, mul) = identify(swt.loc[s-1], lv)
      for splus in swtlv[lv+1]:
        Iswt[s-1] = Iswt[s-1] + mul*current(bar, Iswt, swt.loc[splus-1], splus)
      for nplus in netlv[lv+1]:
        Iswt[s-1] = Iswt[s-1] + mul*current(bar, Inet, net.loc[nplus-1], nplus)
  return Inet, Iswt

In [11]:
def voltage_calc(lv, v, Ibus, Inet, Iswt, buslv, netlv, swtlv, level):
  for n in netlv[lv]:
    if bus.level[net.start[n-1]-1] > bus.level[net.end[n-1]-1]:
      v[net.start[n-1]-1] = v[net.end[n-1]-1] - Inet[n-1]*(net.r[n-1]+1j*net.x[n-1])
    else:
      v[net.end[n-1]-1] = v[net.start[n-1]-1] - Inet[n-1]*(net.r[n-1]+1j*net.x[n-1])
  for s in swtlv[lv]:
      if bus.level[swt.start[s-1]-1] > bus.level[swt.end[s-1]-1]:
        v[swt.start[s-1]-1] = v[swt.end[s-1]-1] - Iswt[s-1]*(swt.r[s-1]+1j*swt.x[s-1])
      else:
        v[swt.end[s-1]-1] = v[swt.start[s-1]-1] - Iswt[s-1]*(swt.r[s-1]+1j*swt.x[s-1])
  return v

In [12]:
def initial_voltage(buslv, level):
  v = np.zeros(len(bus), dtype=complex)
  for bar in buslv[0]:
    v[bar-1] = bus.baseKV[bar-1]/np.sqrt(3)
  for lv in range(1,level):
    for line in netlv[lv]:
      if bus.level[net.start[line-1]-1] < bus.level[net.end[line-1]-1]:
        v[net.end[line-1]-1] = v[net.start[line-1]-1]
      elif bus.level[net.end[line-1]-1] < bus.level[net.start[line-1]-1]:
        v[net.start[line-1]-1] = v[net.end[line-1]-1]
    for switch in swtlv[lv]:
      if bus.level[swt.start[switch-1]-1] < bus.level[swt.end[switch-1]-1]:
        v[swt.end[switch-1]-1] = v[swt.start[switch-1]-1]
      elif bus.level[swt.end[switch-1]-1] < bus.level[swt.start[switch-1]-1]:
        v[swt.start[switch-1]-1] = v[swt.end[switch-1]-1]
  return v

In [13]:
def sweeppowerflow():
  #estados a serem calculados
  Ibus = np.zeros(len(bus), dtype=complex)
  Inet = np.zeros(len(net), dtype=complex)
  Iswt = np.zeros(len(swt), dtype=complex)
  v = initial_voltage(buslv, level)
  error = np.infty
  iteration = 0
  while error > 1e-5 and iteration < 15:
  # Passo 2: Inje칞칚o de corrente
    for bar in bus.itertuples():
      if v[bar.num-1] > 0:
        Ibus[bar.num-1] = np.conj((bar.pd+1j*bar.qd)/(par['snom']*v[bar.num-1]))
    # Passo 3: (Backward sweep): Fluxo de corrente para cada level
    for lv in range(level-1,0,-1):
      (Inet, Iswt) = currente_calc(lv, v, Ibus, Inet, Iswt, buslv, netlv, swtlv, level)
    # Passo 4: (Forward sweep:) Tens칫es nas barras
    for lv in range(1,level):
      v = voltage_calc(lv, v, Ibus, Inet, Iswt, buslv, netlv, swtlv, level)
    error = error_calc(v, Ibus)
    iteration = iteration + 1
  return v, Ibus, Inet, Iswt, error, iteration

## Fun칞칫es adicionais para fluxo de carga

In [14]:
def loss():
  Ploss = 0.0
  for line in net.itertuples():
    Ploss = Ploss + line.r*(line.Ikm**2)
  for switch in swt.itertuples():
    Ploss = Ploss + switch.r*(switch.Ikm**2)
  return Ploss

In [15]:
def branch_current(Inet, Iswt):
  net['Ikm'] = np.round(np.abs(Inet), decimals=4)
  swt['Ikm'] = np.round(np.abs(Iswt), decimals=4)

In [16]:
def refresh_bus(v):
  v = np.round(np.abs(v), decimals=4)
  bus['v'] = np.abs(v)

In [17]:
def line_power(v, Inet, Iswt):
  S = np.zeros(len(net), dtype=complex)
  for line in net.itertuples():
    S[line.Index] = v[line.start-1]*np.conj(Inet[line.Index])
  net['Pkm'] = np.round(np.real(S), decimals=4)
  net['Qkm'] = np.round(np.imag(S), decimals=4)
  S = np.zeros(len(swt), dtype=complex)
  for line in swt.itertuples():
    S[line.Index] = v[line.start-1]*np.conj(Inet[line.Index])
  swt['Pkm'] = np.round(np.real(S), decimals=4)
  swt['Qkm'] = np.round(np.imag(S), decimals=4)

In [18]:
def states():
  (v, Ibus, Inet, Iswt, error, iteration) = sweeppowerflow()
  line_power(v, Inet, Iswt)
  branch_current(Inet, Iswt)
  refresh_bus(v)

## Fun칞칫es restri칞칫es

In [19]:
def radiality_restriction():
  mod_bus = len(bus)
  mod_net = len(net)
  mod_sub = Counter(bus.bustype)['feeder']
  return

In [20]:
def voltage_constraint(upper, lower):
  respect = True
  for bar in bus.itertuples():
    if bar.v*np.sqrt(3)/bar.baseKV > upper and bar.level > -1:
      respect = False
      break
    if bar.v*np.sqrt(3)/bar.baseKV < lower and bar.level > -1:
      respect = False
      break
  return respect

In [21]:
def custo(cr, cch, cls):
  custo = 0.0
  for bar in bus.itertuples():
    if bar.level == -1:
      custo = custo + cr*bar.pd
  nchanges = np.sum(np.abs(swt.ini - swt.pos))
  custo = custo + cch*nchanges
  custo = custo + cls*loss()
  return custo

In [22]:
def isolation():
  respect = True
  for bar in bus.itertuples():
    if par['zone_status'][bar.zb] == 0 and bar.v > 0:
      respect = False
  return respect

In [23]:
def bin2int():
  size = len(swt)
  value = 0
  for i in range(size-1,-1,-1):
    value = value + swt.pos[size-i-1]*2**i
  return value

## Restaura칞칚o

### Documenta칞칚o de fun칞칫es usadas na busca Tabu

radiality()

radiality_restriction()  -- **N칚o implementado**

voltage_constraint(upper, lower)

custo(cr, cch, cls)

isolation()

**Criar fun칞칚o para pot칡ncia nos alimentadores**

In [57]:
#Defini칞칚o de custos:
(cr, cch, cls) = (5.0, 0.2, 0.01)
par['zone_status'] = [1,1,1,1,1,1,1,1,1,1]
BTmax = 3        #argumento da fun칞칚o
sol = np.zeros(len(swt), dtype=int)
swt['pos'] = sol
# swt['pos'] = swt.ini
(radial, level, buslv, netlv, swtlv) = radiality()
states()
best_cost = custo(cr, cch, cls)
iter = 0
bestiter = 0
tabulist = list()

In [58]:
# Busca de solu칞칫es vizinhas
while iter-bestiter < BTmax:
  total_solutions = []
  best_sol = sol
  for i in range(0,len(swt)):
    neighbor = sol.copy()
    neighbor[i] = neighbor[i] ^ 1
    int_value = bin2int()
    swt['pos'] = neighbor
    if int_value not in tabulist:
      (radial, level, buslv, netlv, swtlv) = radiality()
      if radial is True:
        states()
        if isolation() is False:
          tabulist.append(int_value)
        elif voltage_constraint(1.05, 0.80) is False:
          tabulist.append(int_value)
        else:
          current_cost = custo(cr, cch, cls)
          total_solutions.append(current_cost)
          if current_cost < best_cost:
            best_sol = neighbor
            best_cost = current_cost
            bestiter = iter
      else:
        tabulist.append(int_value)

  iter += 1
  sol = best_sol
  print(sol,'\n')
  print("iterations: ",iter,'\n')
  print('melhor iteracao: ', bestiter,'\n')
  print('Solu칞칫es encontradas: ', total_solutions,'\n')
  print('Melhor solu칞칚o (valor): ', best_cost)
  print('Lista Tabu: ', tabulist,'\n\n\n')

[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]

iterations:  1

melhor iteracao:  0

Solu칞칫es encontradas:  [24001.613422731174, 25502.0, 25501.6, 25501.6, 25502.0, 25502.0, 25502.0, 24001.60001474491, 25502.0, 25501.6, 25502.0, 25501.6, 25502.0, 25502.0, 25502.0, 24001.60001474491, 25501.6, 25501.6]

Melhor solu칞칚o (valor):  24001.60001474491
Lista Tabu:  []



[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0]

iterations:  2

melhor iteracao:  1

Solu칞칫es encontradas:  [22501.413437476083, 22501.826614560858, 24001.40001474491, 24001.40001474491, 24001.80001474491, 24001.80001474491, 24001.80001474491, 25501.8, 22501.826615114576, 22501.427173410582, 22501.85315650338, 24001.40001474491, 24001.80001474491, 24001.80001474491, 24001.80001474491, 22501.400029489818, 24001.40001474491, 24001.40001474491]

Melhor solu칞칚o (valor):  22501.400029489818
Lista Tabu:  []



[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0]

iterations:  3

melhor iteracao:  2

Solu칞칫es encontradas:  [21001.213452220993, 21001.626629305767, 22501.200029489817, 22501.200029489817, 22501.600029489815, 22501.600029489815, 22501.600029489815, 24001.60001474491, 21001.227188155488, 22501.200029489817, 22501.600029489815, 22501.600029489815, 22501.600029489815, 24001.60001474491, 19501.31097283586, 22501.200029489817]

Melhor solu칞칚o (valor):  19501.31097283586
Lista Tabu:  [4, 1284]



[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 1]

iterations:  4

melhor iteracao:  3

Solu칞칫es encontradas:  [18001.124395567036, 18001.537572651814, 19501.11097283586, 19501.11097283586, 19501.510972835862, 19501.510972835862, 19501.510972835862, 21001.510958090952, 18001.13813150153, 19501.11097283586, 18001.683597687635, 19501.510972835862, 19501.510972835862, 24001.40001474491, 22501.400029489818, 13502.477057520358]

Melhor solu칞칚o (valor):  13502.477057520358
Lista Tabu:  [4, 1284, 6, 1286]



[0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 1 1]

iterations:  5

melhor iteracao:  4

Solu칞칫es encontradas:  [12002.290480251531, 12002.70365733631, 13502.277057520358, 13502.277057520358, 13502.677057520359, 13502.677057520359, 13502.677057520359, 15002.67704277545, 12002.30421618603, 13502.277057520358, 12003.168405039534, 9005.545685710407, 24001.20001474491, 22501.200029489817, 19501.31097283586]

Melhor solu칞칚o (valor):  9005.545685710407
Lista Tabu:  [4, 1284, 6, 1286, 7, 1287, 1047]



[1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 1 1]

iterations:  6

melhor iteracao:  5

Solu칞칫es encontradas:  [7505.359108441581, 7505.772285526357, 9005.345685710407, 9005.345685710407, 9005.745685710406, 10505.745670965498, 7505.372844376078, 7506.627234704262, 13502.477057520358, 24001.40001474491, 22501.400029489818, 19501.510972835862]

Melhor solu칞칚o (valor):  7505.359108441581
Lista Tabu:  [4, 1284, 6, 1286, 7, 1287, 1047, 9239, 5143, 23, 1303, 1175, 1031]



[1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 1 1]

iterations:  7

melhor iteracao:  6

Solu칞칫es encontradas:  [9005.545685710407, 4505.357176088344, 7505.159108441581, 7505.559108441581, 9005.559093696673, 6005.186267107252, 6006.440657435436, 12002.290480251531, 22501.213437476083, 21001.213452220993, 18001.324395567037]

Melhor solu칞칚o (valor):  4505.357176088344
Lista Tabu:  [4, 1284, 6, 1286, 7, 1287, 1047, 9239, 5143, 23, 1303, 1175, 1031, 140311, 136215, 131095, 132375, 132247, 132103]



[1 0 1 1 0 0 0 1 0 0 0 0 0 1 0 1 1 1]

iterations:  8

melhor iteracao:  7

Solu칞칫es encontradas:  [9005.345685710407, 7505.359108441581, 1505.804846776718, 3005.8449966337676, 6005.557161343435, 3005.184334754015, 3006.438725082199, 9002.288547898295, 19501.211505122847, 18001.211519867753, 15001.322463213797]

Melhor solu칞칚o (valor):  1505.804846776718
Lista Tabu:  [4, 1284, 6, 1286, 7, 1287, 1047, 9239, 5143, 23, 1303, 1175, 1031, 140311, 136215, 131095, 132375, 132247, 132103, 33815, 173079, 168983, 163863, 165143, 165015, 164871]



[1 0 1 1 0 0 0 1 0 1 0 0 0 1 0 1 1 1]

iterations:  9

melhor iteracao:  8

Solu칞칫es encontradas:  [9005.145685710406, 7505.159108441581, 4505.357176088344, 6.537372489183566, 3006.0048320318097, 5.632005442389351, 6.886395770573493, 6002.73621858667, 16501.65917581122, 15001.659190556127, 12001.770133902171]

Melhor solu칞칚o (valor):  5.632005442389351
Lista Tabu:  [4, 1284, 6, 1286, 7, 1287, 1047, 9239, 5143, 23, 1303, 1175, 1031, 140311, 136215, 131095, 132375, 132247, 132103, 33815, 173079, 168983, 163863, 165143, 165015, 164871, 50199, 189463, 185367, 180247, 181527, 181399, 181255]



[1 0 1 1 0 0 0 1 0 1 0 0 0 1 0 1 1 1]

iterations:  10

melhor iteracao:  8

Solu칞칫es encontradas:  [7504.972844376079, 6004.986267107252, 3005.184334754015, 3005.8048320318094, 1505.804846776718, 4502.563377252341, 15001.486334476891, 13501.486349221801, 10501.597292567843]

Melhor solu칞칚o (valor):  5.632005442389351
Lista Tabu:  [4, 1284, 6, 1286, 7, 1287, 1047, 9239, 5143, 23, 1303, 1175, 1031, 140311, 136215, 131095, 132375, 132247, 132103, 33815, 173079, 168983, 163863, 165143, 165015, 164871, 50199, 189463, 185367, 180247, 181527, 181399, 181255, 50455, 189719, 185623, 180503, 181271, 181655, 181591, 181511]



[1 0 1 1 0 0 0 1 0 1 0 0 0 1 0 1 1 1]

iterations:  11

melhor iteracao:  8

Solu칞칫es encontradas:  [7504.972844376079, 6004.986267107252, 3005.184334754015, 3005.8048320318094, 1505.804846776718, 4502.563377252341, 15001.486334476891, 13501.486349221801, 10501.597292567843]

Melhor solu칞칚o (valor):  5.632005442389351
Lista Tabu:  [4, 1284, 6, 1286, 7, 1287, 1047, 9239, 5143, 23, 1303, 1175, 1031, 140311, 136215, 131095, 132375, 132247, 132103, 33815, 173079, 168983, 163863, 165143, 165015, 164871, 50199, 189463, 185367, 180247, 181527, 181399, 181255, 50455, 189719, 185623, 180503, 181271, 181655, 181591, 181511]

In [67]:
swt['pos'] = [1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1]
(radial, level, buslv, netlv, swtlv) = radiality()
states()

In [68]:
bus

    num   name  level bustype       v   pd  ...  NCONS  EUSD  ENER  prio  zb  Smax
0     1   Bus1      0  feeder  7.9674    0  ...      0     0     0     0   0  2700
1     2   Bus2      1    load  7.9672    0  ...      0     0     0     0   1     0
2     3   Bus3      2    load  7.7457  300  ...      0   100   100   300   1     0
3     4   Bus4      3    load  7.7457    0  ...      0     0     0     0   1     0
4     5   Bus5      3    load  7.5680    0  ...      0     0     0     0   1     0
5     6   Bus6      4    load  7.5679  300  ...      0   100   100   300   2     0
6     7   Bus7      5    load  7.5679    0  ...      0     0     0     0   2     0
7     8   Bus8      5    load  7.4343    0  ...      0     0     0     0   2     0
8     9   Bus9      6    load  7.3904  300  ...      0   100   100   300   2     0
9    10  Bus10      6    load  7.4343    0  ...      0     0     0     0   3     0
10   11  Bus11      7    load  7.3454  300  ...      0   100   100   300   3     0
11   12  Bus12      8    load  7.3454    0  ...      0     0     0     0   3     0
12   13  Bus13      8    load  7.3010  300  ...      0   100   100   300   3     0
13   14  Bus14      9    load  7.3010    0  ...      0     0     0     0   3     0
14   15  Bus15      0  feeder  7.9674    0  ...      0     0     0     0   0  2700
15   16  Bus16      1    load  7.9674  300  ...      0   100   100   300   4     0
16   17  Bus17      2    load  7.9674    0  ...      0     0     0     0   4     0
17   18  Bus18      2    load  7.9674    0  ...      0     0     0     0   4     0
18   19  Bus19      2    load  7.9261    0  ...      0     0     0     0   4     0
19   20  Bus20      3    load  7.9261    0  ...      0     0     0     0   4     0
20   21  Bus21      3    load  7.9261    0  ...      0     0     0     0   5     0
21   22  Bus22      4    load  7.8849  300  ...      0   100   100   300   5     0
22   23  Bus23      5    load  7.8849    0  ...      0     0     0     0   5     0
23   24  Bus24      5    load  7.8849    0  ...      0     0     0     0   5     0
24   25  Bus25     10    load  6.7487    0  ...      0     0     0     0   6     0
25   26  Bus26      9    load  6.7487  300  ...      0   100   300   300   6     0
26   27  Bus27      8    load  6.6115    0  ...      0     0     0     0   6     0
27   28  Bus28     10    load  6.7487    0  ...      0     0     0     0   6     0
28   29  Bus29     10    load  6.6591  600  ...      0   100   600   300   6     0
29   30  Bus30     11    load  6.6591    0  ...      0     0     0     0   6     0
30   31  Bus31     11    load  6.6591    0  ...      0     0     0     0   6     0
31   32  Bus32      0  feeder  7.9674    0  ...      0     0     0     0   0  2700
32   33  Bus33      1    load  7.9670  300  ...      0   100   100   300   7     0
33   34  Bus34      2    load  7.9670    0  ...      0     0     0     0   7     0
34   35  Bus35      2    load  7.5214    0  ...      0     0     0     0   7     0
35   36  Bus36      3    load  7.5214    0  ...      0     0     0     0   7     0
36   37  Bus37      3    load  7.5210    0  ...      0     0     0     0   8     0
37   38  Bus38      4    load  7.0847  600  ...      0   200   200   600   8     0
38   39  Bus39      5    load  7.0847    0  ...      0     0     0     0   8     0
39   40  Bus40      5    load  7.0844    0  ...      0     0     0     0   9     0
40   41  Bus41      6    load  6.7485  600  ...      0   200   200   600   9     0
41   42  Bus42      7    load  6.6114    0  ...      0     0     0     0   9     0
42   43  Bus43      7    load  6.6508  600  ...      0   200   200   600   9     0
43   44  Bus44      8    load  6.6508    0  ...      0     0     0     0   9     0

[44 rows x 14 columns]

In [34]:
swt

    num  start  end         r    x  ...  pos  level        Pkm       Qkm       Ikm
0     1      1    2  0.000001  0.0  ...    0     -1     0.0000    0.0000    0.0000
1     2      4   17  0.000001  0.0  ...    0     -1     0.0000    0.0000    0.0000
2     3      5    6  0.000001  0.0  ...    0     -1     0.0000    0.0000    0.0000
3     4      8   10  0.000001  0.0  ...    1      8     0.0000   -0.0000   83.0446
4     5      9   24  0.000001  0.0  ...    1      6  -293.9408  -54.0237  165.3542
5     6     12   28  0.000001  0.0  ...    0     -1  -896.9874 -177.0738    0.0000
6     7     14   31  0.000001  0.0  ...    0     -1   598.4422  118.4545    0.0000
7     8     15   16  0.000001  0.0  ...    1      1     0.0000    0.0000  244.3877
8     9     18   34  0.000001  0.0  ...    0     -1   321.5694   81.7920    0.0000
9    10     19   21  0.000001  0.0  ...    1      3     0.0000    0.0000  206.0199
10   11     20   36  0.000001  0.0  ...    0     -1     0.0000   -0.0000    0.0000
11   12     22   25  0.000001  0.0  ...    0     -1     0.0000   -0.0000    0.0000
12   13     23   39  0.000001  0.0  ...    0     -1  1517.0909  317.1113    0.0000
13   14     27   42  0.000001  0.0  ...    1     -1     0.0000    0.0000    0.0000
14   15     30   44  0.000001  0.0  ...    0     -1     0.0000    0.0000    0.0000
15   16     32   33  0.000001  0.0  ...    1      1     0.0000    0.0000  116.8402
16   17     35   37  0.000001  0.0  ...    1      3  1267.0513  306.5090   78.4432
17   18     38   40  0.000001  0.0  ...    0     -1     0.0000   -0.0000    0.0000

[18 rows x 14 columns]